# Hide binary APK
*.apk linguist-detectable=false

# Treat Expo files as source
App.tsx linguist-language=TypeScript
package.json linguist-language=JavaScript
babel.config.js linguist-language=JavaScript

# Don't mark them as vendored
App.tsx linguist-vendored=false
package.json linguist-vendored=false
babel.config.js linguist-vendored=false
